
*{  /*initially we set the default values*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5b82b9;
}
.container{
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}
.container .form{
    padding: 30px;
}
.container .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
    text-align: center;
    margin-top: 4px;
}
/* .form .title::before{
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #5b82b9;
    border-radius: 25px;
} */
.form .input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}
.input-field input{
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}
.input-field input:is(:focus,:valid) ~ i{  /*:is pseudo selector takes a selector list as its argument and if any of the selector in the list becomes ina=valied then it takes the next argument in the list so :is is basically used to write multiple selectors  ,  :focus is used for form inout and is triggered when user clicks on the element    ,   The :valid selector selects form elements with a value that validates according to the element's settings ,  :valid selector selects form elements with a value that validates according to the element's settings   ,   ~ it will select all the elements preceded by fprmer selector    */
    color: #5b82b9;
}
.input-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
}
.input-field i.icon{
    left: 0;
}
.input-field i.showHidePw{
    right: 0;
    cursor: pointer;
    padding: 10px;
}
.form .checkbox-text{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-top: 20px;
}
.form .text{
    color: #333;
    font-size: 14px;
}
.form a.text{ /*for forgot password*/
    color: #5b82b9;
    text-decoration: none;
}
.form a:hover{  /*when we hover on forgot password*/
    text-decoration: underline;
}
.form .button{
    margin-top: 35px;
}
.form .button input{
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #5b82b9;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button input:hover{
    background-color: #19345d;
}

@media screen and (max-width: 400px) {
    .form{
        padding: 20px 10px;
    }
    
}
